html,
body {
  display:flex;
  margin: 0;
  overflow-x: hidden;
  background-color: #303030;
  font-size:18px;
  color:#c1c1c1;
  line-height:1.4rem;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  height:100%;
  width:100%;
}

p {
  margin-bottom:.75rem;
}

label {
  display: block; 
  margin-bottom: 20px; 
}

label span {
  width: 250px;
  display: inline-block;
}

#flex {
  display:flex;
  flex:1;
  overflow-y:auto;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
#form {
  margin: 0 15px;
}
#form.hide {
  display: none;
}

#container {
  display: none;
}

#container.active {
  display: block;
}

#imageForm {
  display: none;
}

#imageForm.active {
  display: block;
}

.konvajs-content {
  background-color: #fff;
}

input {
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 0;
  border: 2px solid #fff;
  color: #fff;
  height: 45px;
  margin-left: 20px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity: 1;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}
@media screen and (max-width: 500px) {
  input {
    width: 80px;
  }
  label span {
    width: 200px;
  }
}
input[type=submit], button[type=submit], #render, #download {
   text-transform: uppercase;
   padding: 10px 60px;
   color: white;
   background: #444;
   font-weight: normal;
   border: 0;
   text-decoration: none;
   cursor: pointer;
}
input[type=number] {
  text-align: center;
}
input[type=file] {
  border: 0;
}
#render {
  display: none;
}
#render.active, #download {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: -8px 15px 41px 8px rgba(0,0,0,0.4);
}
#logo {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}
#intro {
  margin-top: 70px;
  max-width: 600px;
  margin-bottom: 25px;
}
#gridonholder {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
}
#gridonholder.active {
  display: block;
}
#gridonholder label {
  width: 80px;
  display: inline-block;
}
#gridonholder #gridon {
  height: auto;
}
